[submodule "external/opensbi"]
	path = external/opensbi
	url = https://github.com/riscv-software-src/opensbi
	shallow = true
[submodule "external/buildroot"]
	path = external/buildroot
	url = https://gitlab.com/buildroot.org/buildroot.git
	branch = 2026.08.x
	shallow = true
