[submodule "external/opensbi"]
	path = external/opensbi
	url = https://github.com/riscv-software-src/opensbi
	shallow = true
[submodule "external/linux"]
	path = external/linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
	shallow = true
	branch = linux-7.1.y
[submodule "external/busybox"]
	path = external/busybox
	url = https://git.busybox.net/busybox
	shallow = true
