CONFIG_STATIC=y
CONFIG_LFS=y
CONFIG_FEATURE_INSTALLER=y
CONFIG_TEST=y
CONFIG_TEST1=y
CONFIG_ASH=y
CONFIG_SH_IS_ASH=y
CONFIG_CTTYHACK=y
CONFIG_CAT=y
CONFIG_CHMOD=y
CONFIG_CLEAR=y
CONFIG_CMP=y
CONFIG_CP=y
CONFIG_DD=y
CONFIG_DF=y
CONFIG_DMESG=y
CONFIG_ECHO=y
CONFIG_GREP=y
CONFIG_HEAD=y
CONFIG_HEXDUMP=y
CONFIG_FALSE=y
CONFIG_FREE=y
CONFIG_KILL=y
CONFIG_LN=y
CONFIG_LS=y
CONFIG_MKDIR=y
CONFIG_MKNOD=y
CONFIG_MOUNT=y
CONFIG_MOUNTPOINT=y
CONFIG_OD=y
CONFIG_PS=y
CONFIG_PWD=y
CONFIG_REBOOT=y
CONFIG_RM=y
CONFIG_RMDIR=y
CONFIG_SETSID=y
CONFIG_SHA256SUM=y
CONFIG_FEATURE_MD5_SHA1_SUM_CHECK=y
CONFIG_SLEEP=y
CONFIG_STAT=y
CONFIG_SYNC=y
CONFIG_TAIL=y
CONFIG_TRUE=y
CONFIG_UMOUNT=y
CONFIG_UNAME=y
CONFIG_IP=y
CONFIG_FEATURE_IP_ADDRESS=y
CONFIG_FEATURE_IP_LINK=y
CONFIG_FEATURE_IP_ROUTE=y
CONFIG_IFCONFIG=y
CONFIG_ROUTE=y
CONFIG_PING=y
CONFIG_FEATURE_FANCY_PING=y
CONFIG_NSLOOKUP=y
CONFIG_WGET=y
CONFIG_UDHCPC=y
CONFIG_UDHCPC_DEFAULT_SCRIPT="/usr/share/udhcpc/default.script"
CONFIG_BLKID=y
CONFIG_VOLUMEID=y
CONFIG_FEATURE_VOLUMEID_FAT=y
CONFIG_FEATURE_VOLUMEID_EXT=y
